// Aleo

@font-face {
  font-family: 'Aleo';
  src: url('assets/fonts/Aleo-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Aleo';
  src: url('assets/fonts/Aleo-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Aleo';
  src: url('assets/fonts/Aleo-Light.otf');
  font-weight: 100;
};

// Sen

@font-face {
  font-family: 'Sen';
  src: url('assets/fonts/sen-regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Sen';
  src: url('assets/fonts/sen-bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Sen';
  src: url('assets/fonts/sen-extrabold.otf');
  font-weight: 900;
}
