- var title = 'Moskito'
- var phone = '508-158-316'
- var email = 'moskitobiuro@o2.pl'
- var address1 = 'Oporowo 18/3'
- var address2 = '64-560 Ostroróg'

doctype html
html(lang="pl")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.css")
  body
    include partials/_navigation
    include partials/_o_nas
    include partials/_montaz_serwis
    include partials/_oferta

    script(src="index.js")