- var title = 'Moskito'

doctype html
html(lang="pl")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.css")
  body
    div.navbar
      .navbar__inner
        .navbar__logo
          h1.navbar__logo__brand
            img.navbar__logo__image(alt=title)