footer
  .footer__inner
    p
      | Projekt i design strony: 
      a(href="https://www.behance.net/mariakuziola" target="_blank")="Maria Kuzioła"
    p
      | 2017 &copy; Moskito
    p 
      | Kod i wdrożenie: 
      a(href="http://patrykb.pl" target="_blank")="Patryk Bernasiewicz"