a.anchor#galeria(href="javascript:void(0)" title="Galeria")
section#galeria_section
  div.gallery#GalleryContainer
  button.gallery-btn#GalleryLoadMore="Więcej zdjęć"
  a.gallery-btn(href="http://serwismoskito.pl/galeria")="Przejdź do galerii"