- var link_hrefs = ['#index', '#o_nas', '#montaz_serwis', '#oferta', '#kontakt']
- var link_names = ['Moskito', 'O nas', 'Montaż/serwis', 'Oferta', 'Kontakt']

nav.nav.nav--sticky#main-navigation
  .nav__inner
    h1.nav__logo
      a(title=link_names[0], href=link_hrefs[0])
        img.nav__logo__img(alt=link_names[0], src="./assets/img/moskito-logo.png")
    ul.nav__links
      - for (var i = 1, len = link_names.length; i < len; i++)
        li.nav__links__item
          a(title=link_names[i], href=link_hrefs[i])=link_names[i]
    ul.nav__contact
      li.nav__contact__item.nav__contact__item--phone
        a(href="tel:" + phone)
          span.icon-phone
          = phone
      li.nav__contact__item.nav__contact__item--email
        a(href="mailto:" + email)
          span.icon-envelope
          = email
    button.nav__hamburger#nav__hamburger
      span.icon-bars