section#o_nas
  .jumbotron
    .jumbotron__content
      h2.jumbotron__heading="O nas"
      p.jumbotron__text
        | Nasz serwis to fachowa i kompetentna obsługa klienta. Posiadamy ponad 10-letnie doświadczenie. Dysponujemy własnym samochodem dostawczym, oraz pełnym zestawem niezbędnych narzędzi do pracy.
