a.anchor#o_nas(href="javascript:void(0)" title="O nas")
section#o_nas_section
  .jumbotron
    .jumbotron__content
      p.jumbotron__heading="O nas"
      p.jumbotron__text
        | Nasz serwis to fachowa i kompetentna obsługa klienta. Posiadamy ponad 10-letnie doświadczenie. Dysponujemy własnym samochodem dostawczym, oraz pełnym zestawem niezbędnych narzędzi do pracy.
